<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Store">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class = "<%= controller.controller_name %>">
    <div id = "banner">
      <%= image_tag("logo.png")%>
      <p>Book Store</p>

      
    </div>

    <div id = "user">
      <% if authenticated? %>
        <span>Account: <strong><%= Current.user.email_address.split('@').first %></strong></span>
        <%= button_to "Log Out", session_path, method: :delete, class: "auth-btn" %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> | 
        <%= link_to "Log In", new_session_path %>
      <% end %>
    </div>

    <nav id="nav-bar" style="background: aliceblue; padding: 12px 20px; border-bottom: 2px solid; border-top: 2px dotted lightsteelblue; margin-bottom: 0px; display: flex; gap: 20px;">
      <%= link_to "Shopper Catelog", root_path, style: "color: midnightblue; text-decoration: none; font-weight: bold;"%>
      <%= link_to "Browse Products", products_path, style: "color: midnightblue; text-decoration: none; font-weight: bold;" %>
      
      <% if authenticated? %>
        <%= link_to "My Orders", orders_path, style: "color: midnightblue; text-decoration: none; font-weight: bold;" %>
      <% end %>
    </nav>

    <div id = "columns">
      <div id = "side">
        <strong>SHOPPING CART</strong>
        <%=render(@cart)%>
      </div>
      <div id = "main">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
